# address of aergoscan API server
SCAN_API_HOST=localhost:3000
# address of aergo node to retrieve block information from
AERGO_NODE=localhost:7845

# version of indexer docker image. it must be the same as in the Dockerfile
INDEXER_VERSION=2.8.2

# if you want to limit the range of backward scan, change the value to target block number
INDEX_FROM=0
INDEX_TO=0
